<!DOCTYPE html>
<html>
<head>
  <title>Firebase Demo</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="https://cdn.firebase.com/js/client/2.4.2/firebase.js"></script>
  <link rel="stylesheet" type="text/css" href="/stylesheets/firebase-demo.css" />

</head>

<body>
<div class="example-chat">
  <header>Firebase Chat Demo</header>

  <div class="example-chat-toolbar">
    <p>Name: <input type="text" class="name-input" placeholder="Enter your name..."></p>
    <input type="text" class="message-input"  placeholder="Type a message...">
  </div>

  <ul class="message-list"></ul>
</div>
<script src="js/firebase-demo.js"></script>
</body>
</html>
