<!DOCTYPE html>
<html>
<head>
  <title>HackOverflow workshop</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
</head>

<body>
  <h1>Hello world!</h1>
  <p>Off to a great start. Remove all this and make it your own!</p>
  
  <h3>Don't know how?</h3>
  <p>Get started <a href="http://www.swestwood.com/p/web-tutorial.html">learning web programming</a>!</p>

  <p>You can also check out the <a href="bootstrap-template.html">Bootstrap template</a>.</p>

  <img src="images/hackoverflow.png">

  <p><a href="https://github.com/swestwood/hackoverflow-workshop">Where it all began</a></p>
  <script src="js/main.js"></script>
</body>
</html>
